@font-face {
    font-family: Lora;
    src: url(../fonts/Lora-Regular.ttf);
    font-weight: 400;
}

body {
    background-image: url(../img/squared_metal_dark.png);
    background-attachment: fixed;
    font-family: Lora;
    padding: 10px;
}

h1 {
    font-size: 250%;
    text-shadow: 1px 1px #555555;
}

.box {
    background-color: #cdced4;
    width: 40%;
    height: 300px;
    padding: 20px;
    border: 1px solid #afaeb3;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 6px #555555;
}

.socialPane {
    position: fixed;
    bottom: 0px;
    left: 50%;
}


.twiIcon {
    background-image: url(../img/Twitter.png);
    display: inline-block;
    width: 48px;
    height: 48px;
}

.gitIcon {
    background-image: url(../img/Github.png);
    display: inline-block;
    width: 48px;
    height: 48px;
}